/* Navbar Styles */
.navbar {
  background-image: url(https://images.unsplash.com/photo-1693585722838-e97593c0170a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1527&q=80);
  padding: 10px 0;
}

.navbar-brand {
  color: #fff !important;
  font-weight: bold;
  font-size: 24px;
}

.navbar-toggler-icon {
  background-color: #fff;
  border-radius: 3px;
}

.nav-link {
  color: #fff !important;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #23e644 !important;
}

/* Toggle Content Styles */
.container {
  padding: 20px;
}

.text-dark {
  color: #333;
}

/* Add any additional styling you may need */
