<!-- HTML Structure -->
<section class="testimonial-section" id="testimonial">
  <div class="overlay"></div>
  <div class="container">
    <div class="section-heading text-center">
      <h2 style="color:white;" class="section-title">Testinomials Feedbacks</h2>
      <p class="section-subtitle">Happy Gadget Holders</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="testimonial-carousel owl-carousel">
          <!-- Testimonial Item 1 -->
          <div class="testimonial-item">
            <div class="testimonial-wrap">
              <div class="icon">
                <span class="fa fa-quote-left"></span>
              </div>
              <div class="text">
                <p>
                Jethalal
                  Location: New York, NY
                 "I love shopping at your gadget store! The quality and variety of products are excellent."
                </p>
                <div class="user-info">
                  <div class="user-img" style="background-image: url(https://i.pinimg.com/originals/46/09/e7/4609e775d3986dd653e57fd4e95b96ae.jpg);"></div>
                  <div class="user-details">
                    <p class="name">Tarak</p>
                    <p class="position">Lab Assistance</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Testimonial Item 2 -->
          <div class="testimonial-item">
            <div class="testimonial-wrap">
              <div class="icon">
                <span class="fa fa-quote-left"></span>
              </div>
              <div class="text">
                <p>
                  Lisa Davis
Location: Miami, FL
"The customer service at your store is top-notch. They helped me choose the perfect gift for my tech-savvy friend."
                </p>
                <div class="user-info">
                  <div class="user-img" style="background-image: url(https://i.pinimg.com/736x/8a/53/10/8a5310a4f382f7fec5ca397e2023d6e4.jpg);"></div>
                  <div class="user-details">
                    <p class="name">Bhide</p>
                    <p class="position">Technician</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
                                             <!--if u need more u can add-->
        </div>
      </div>
    </div>
  </div>
</section>
