<section class="team-section py-5" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-title">Our Team</h2>
      <p class="section-subtitle">Meet Our Experienced Team Members</p>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 col-lg-3">
        <div class="team-member">
          <div class="member-image">
            <img src="../../assets/images/chef4.jpg" alt="Saurabh">
          </div>
          <div class="member-details text-center mt-3">
            <h3 class="member-name">Saurabh</h3>
            <p class="member-position">Android Developer</p>
            <div class="social-links">
              <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
              <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
              <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
              <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="team-member">
          <div class="member-image">
            <img src="../../assets/images/chef1.jpg" alt="Diptanu">
          </div>
          <div class="member-details text-center mt-3">
            <h3 class="member-name">Diptanu</h3>
            <p class="member-position">iOS Developer</p>
            <div class="social-links">
              <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
              <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
              <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
              <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="team-member">
          <div class="member-image">
            <img src="../../assets/images/chef2.jpg" alt="Rohan">
          </div>
          <div class="member-details text-center mt-3">
            <h3 class="member-name">Rohan</h3>
            <p class="member-position">HR Manager</p>
            <div class="social-links">
              <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
              <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
              <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
              <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="team-member">
          <div class="member-image">
            <img src="../../assets/images/chef3.jpg" alt="Nobita">
          </div>
          <div class="member-details text-center mt-3">
            <h3 class="member-name">Nobita</h3>
            <p class="member-position">Lead Designer</p>
            <div class="social-links">
              <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
              <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
              <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
              <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
